

h1{
    color:brown
}
h2{
    color:brown
}
button{
    color:brown;
    background-color: burlywood;
}
div{
    background-color: rgba(255, 166, 0, 0.589);
}
#headingone{
    background-color: orange;
}